[{eleveldb,
     [{compression,true},
      {fadvise_willneed,false},
      {eleveldb_threads,71},
      {verify_compaction,true},
      {verify_checksums,true},
      {block_size_steps,16},
      {block_restart_interval,16},
      {sst_block_size,4096},
      {block_cache_threshold,33554432},
      {use_bloomfilter,true},
      {write_buffer_size_max,62914560},
      {write_buffer_size_min,31457280},
      {limited_developer_mem,false},
      {sync,false},
      {total_leveldb_mem_percent,70},
      {data_root,"../db_data/leveldb"},
      {delete_threshold,1000},
      {tiered_slow_level,0}]},
 {riak_sysmon,
     [{busy_dist_port,true},
      {busy_port,true},
      {port_limit,2},
      {process_limit,30},
      {gc_ms_limit,0},
      {schedule_ms_limit,0},
      {heap_word_limit,20055500}]},
 {riak_core,
     [{vnode_management_timer,10000},
      {use_background_manager,false},
      {enable_consensus,false},
      {platform_log_dir,"./log"},
      {platform_lib_dir,"./lib"},
      {platform_etc_dir,"../db_config"},
      {platform_data_dir,"../db_data"},
      {platform_bin_dir,"./bin"},
      {dtrace_support,false},
      {disable_inbound_handoff,false},
      {disable_outbound_handoff,false},
      {handoff_port,8099},
      {handoff_ip,"127.0.0.1"},
      {ring_state_dir,"../db_data/ring"},
      {handoff_concurrency,2},
      {ring_creation_size,64},
      {default_bucket_props,[{n_val,3}]},
      {permissions,[{iorio,[put,get,list,grant,adminusers]}]}]},
 {iorio,
     [{auth_mod,permiso_mem},
      {max_bucket_size_bytes,52428800},
      {bucket_evict_time_ms,60000},
      {data_path,"../db_data/vnodes"},
      {req_timeout,500},
      {req_w,3},
      {req_n,3},
      {user_bucket_prefix,"_user_"},
      {user_has_bucket,true},
      {session_duration_secs,86400},
      {anon_password,"secret"},
      {anon_username,"anonymous"},
      {admin_password,"secret"},
      {admin_username,"admin"},
      {auth_algorithm,hs512},
      {auth_secret,"changeme"},
      {mqtt_max_connections,1024},
      {mqtt_acceptors,100},
      {mqtt_port,1883},
      {mqtt_enabled,false},
      {https_acceptors,100},
      {https_port,8443},
      {https_enabled,false},
      {http_acceptors,100},
      {http_port,8080},
      {http_enabled,true},
      {extension,[]},
      {api_handlers,
          [{"/ui/[...]",iorio_cowboy_static,
            {priv_dir,iorio,"assets",[{mimetypes,cow_mimetypes,all}]}}]}]},
 {auth,[{secret,<<"changeme">>}]},
 {sasl,
     [{sasl_error_logger,{file,"log/sasl-error.log"}},
      {errlog_type,error},
      {error_logger_mf_dir,"log/sasl"},
      {error_logger_mf_maxbytes,10485760},
      {error_logger_mf_maxfiles,5}]},
 {lager,
     [{handlers,
          [{lager_console_backend,info},
           {lager_file_backend,
               [{"log/error.log",error,10485760,"$D0",5},
                {"log/console.log",info,10485760,"$D0",5}]}]}]}].
